<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <!-- camelCase ↔ snake_case 자동 변환 -->
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>

    <!-- 타입 별칭 설정으로 긴 패키지명 단축 -->
    <typeAliases>
        <package name="org.scoula.board.domain" />
    </typeAliases>
</configuration>